<h1>Candidate Directory</h1>
  <%=link_to "Add Candidate", new_candidate_path%>
  <hr />
  <h2><%= @candidates.length <= 0 ? "No Candidates" : "" %> </h2>
  <ul>
    <% @candidates.each do |candidate|%>
     <li>
      <h3> <%= link_to "#{candidate.name}'s Profile.", candidate_path(candidate) %> <h3>
    </li>
    <%end%>
  </ul>